target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/workspace.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

.vscode/
.bsp
.gitignore
target
project/project
project/target
.DS_Store
/.idea
*.xml
